.nav-container {
  position: relative;
  padding: 39px 27px 35px;
  display: inline-block;
  background-color: $bg_secondary;
  border-radius: 10px;
  display: inline-block;


  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 24px;
    border-left-width: 24px;
    border-bottom: 37px solid $bg_secondary;
    right: 6px;
    top: -20px;
  }



  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /// for swiper


  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    align-self: flex-start;
  }

  &__content {
    margin-bottom: 30px;

    &--wish {
      max-height: 400px;
      height: 100%;
      overflow: auto;
      min-width: 406px;
      width: 100%;


      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: $scroll_bg;
        border-radius: 30px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $bg_highlight;
        border-radius: 10px;
      }
    }

    &--profile {
      display: flex;
      flex-direction: column;
      align-items: center;

    }

    &--signup {
      margin-bottom: 0;
    }

    &.swiper {
      max-width: 390px;
    }

  }

  &__swiper {
    display: flex;
  }

  &__btn {
    font-weight: 700;
    &--checkout{
      background-color: $bg_highlight;
      color: $bg_secondary;
      transition: background-color 0.3s ease-in-out;
      &:hover{
        background-color: $bg_secondary;
        color: $bg_highlight;
      }
    }
  }

  &__product {
    margin-bottom: 30px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__popular {
    flex-direction: column;
    max-width: 120px;

    &:not(:last-child) {
      margin-right: 15px;
    }

    .product-thumb {
      &__box {
        margin-right: 0;
        margin-bottom: 3px;
      }
    }
  }

  &__login {
    margin-bottom: 10px;
    background-color: $bg_highlight;
    color: $bg_secondary;

    &:hover {
      background-color: $bg_secondary;
      color: $bg_highlight;
    }
  }

  &__total{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 34px;
  }
  &__count{
    text-transform: uppercase;
  }
  &__cost{
    @include g-bold;
    font-weight: 700;
    border-bottom: 2px solid $bg_highlight;

  }



}

.slider-arrow {
  position: absolute;
  top: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  outline: none;


  &__prev {
    left: -25px;
    width: 20px;
    height: 20px;
  }

  &__next {
    right: -25px;
    width: 20px;
    height: 20px;
  }

  &__icon {
    width: 20px;
    height: 24px;
    stroke: $t_main;

    &:hover {
      stroke: $bg_highlight;
    }
  }
}